@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'Avenir';
    src: url('/assets/fonts/Avenir Light.ttf');
}

@font-face {
    font-family: 'Fraunces';
    src: url('/assets/fonts/Fraunces_120pt-Light.ttf');
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100dvw;
    overflow-x: hidden;
    height: 100%;
    background: "#fefaef";
    user-select: none;
}

.screen-max-width {
    margin-inline-start: auto;
    margin-inline-end: auto;
    position: relative;
    max-width: 1120px;
}

html {
    scroll-behavior: smooth;
}

.hero-bg {
    padding-top: 0px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-image: url('/assets/images/hero.png');
}

@layer utilities {
    .nav-height {
        @apply h-[calc(100vh-60px)];
    }
}